
*{
  background-color: #C9B687 ;
}

h4 {

	color: #885CFA;
	
}

li p {
	background-color: #B2D6FF;
}
 ul ul li{

 	background-color: #B2D61F;
 }

 ul li {
	background-color: #52D610;

 }

 dd{
 	background-color: #74B2DF;
 }